@media (max-width: 769px) {
    .img_fundo {
        display: none;
    }

    .hero-text h2 {
        width: 90%;
        padding-left: 5%;
    }

    .hero-text p {
        width: 90%;
        padding-left: 5%;
    }

    .hero {
        justify-content: auto;
    }
}

@media (max-width: 426px) {
    header {
        height: 300px;
    }
}    