* a{
    text-decoration: none;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    height: 70px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

header a:hover{
    color: #333;
    background-color: #fff;
    transition: 0.4s;
}

.hero {
    background-image: url("hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center
}

.hero-text h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn-hero {
    background-color: #fff;
    color: #333;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-hero:hover {
    background-color: #333;
    color: #fff;
}

.about {
    padding: 50px 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about ul {
    margin: 0;
    padding: 0;

}

.about li {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.pricing {
    padding: 50px 20px;
    background-color: #e6e6e6;
    text-align: center;
}

.pricing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.pricing ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

}

.pricing li {
    font-size: 24px;
    margin-bottom: 20px;
    display: inline;
}

.pricing p {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}

.btn-pricing {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pricing:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}